<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <context:component-scan base-package="com.lk.service.impl"></context:component-scan>
<!--    <dubbo:application name="blog-manager"></dubbo:application>
    <dubbo:registry protocol="zookeeper" address="192.168.255.129:2181"/>
    &lt;!&ndash;  用dubbo协议在20880端口暴露服务  &ndash;&gt;
    <dubbo:protocol name="dubbo" port="20880"/>-->
<!--    &lt;!&ndash;  声明需要暴露的服务接口  &ndash;&gt;
    <dubbo:service interface="com.lk.service.LoginService" ref="loginServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.ArticleService" ref="articleServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.CategoryService" ref="categoryServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.TagService" ref="tagServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.UserService" ref="userServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.NoticeService" ref="noticeServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.LinkService" ref="linkServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.CommentService" ref="commentServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.PageService" ref="pageServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.OptionService" ref="optionServiceImpl" timeout="60000"/>
    <dubbo:service interface="com.lk.service.MenuService" ref="menuServiceImpl" timeout="60000"/>-->
</beans>